body {
  padding: 0 10% 0 10%;
}

header {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  display: block;
  padding-left: 30px;
  margin-bottom: 32px;
}

header h1 {
  font-size: 3em;
  font-weight: 200;
}

header div.welcome {
  color: #999;
  font-size: 20px;
}

section.content {
  font-family: 'Sunflower', sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.8em;
  color: #666;
  width: 60%;
  margin-left: 30px;
}

footer {
  position: fixed;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 1em;
  color: #444;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  padding: 0 0 20px 0;
}

/* elements */
code {
  font-size: smaller;
  background-color: #FED;
  display: inline-block;
  padding: 0 3px;
  border-radius: 2px;
}