<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Work Samples: designr.in</title>
</head>
<body>
  <table style="width:60%;max-width:600px;min-width:250px;margin-left:auto;margin-right:auto;padding-left:20px;padding-right:20px;background-color:white;border: 0 none;line-height:1.6;font-size:1rem;color:#444;">
    <tbody>
      <tr>
        <td>
          <div style="font-family: Helvetica, sans-serif">
            <div style="width:80%;margin-left:auto;margin-right:auto;">
              <p>Hello {client}, I am Kamal from
                <a href="http://designr.in">designr.in</a>. I am writing to you
              regarding your web design/development requirement we talked about
              over the phone recently.
              </p>
              <p>
                Below are some of the selected projects I have completed over the
                course of past few years. These are the best ones I have on my
                showcase that include design as well as development done by me.
              </p>
            </div>
            <div style="width:80%;margin-left:auto;margin-right:auto;">
              <h3>VCreateLogic</h3>
            </div>
            <div>
              <img src="https://morjal.com/kamal/work/portfolio/images/fulls/07.png"
                alt="VCreate Logic, a Bangalore based software company"
                style="text-align:center;margin-left:-20%;width:140%;border:8px solid #ccc;">
            </div>
            <div style="width:80%;margin-left:auto;margin-right:auto;">
              <p>
                VCreateLogic was a software development company that made some
                cutting edge C++ software at the time.

                This website was ahead of its time in 2009, built to design
                trends of the time, and coding standards at the cutting edge of the
                industry.
              </p>
              <p>The client has since moved on to another very interesting
                business and thus the site is no longer live. Do check out
                <a href="https://www.teriflix.com/">Teriflix</a> when you get
                a chance, my client's new venture.
              </p>
            </div>
            <div style="width:80%;margin-left:auto;margin-right:auto;">
              <h3>GuitarHall</h3>
            </div>
            <div>
              <img src="https://morjal.com/kamal/work/portfolio/images/fulls/02.png"
                alt="GuitarHall, a Mumbai based guitar training academy"
                style="text-align:center;margin-left:-20%;width:140%;border:8px solid #ccc;">
            </div>
            <div style="width:80%;margin-left:auto;margin-right:auto;">
              <p>GuitarHall.in is another redesign project that I undertook.
                This institute saw an enormous growth in user retention on their
                website after our new design was implemented on their server.
              </p>
              <p>
                A music institute in Mumbai that teaches playing guitar and
                keyboards. I was responsible for designing and implementing as a
                Wordpress theme, the website in the screenshot. I enjoyed working
                with them see their institute grow from 3 centers to 18 centers
                while this design was live. They have recently moved over to a
                different CMS system and theme (for reasons unknown to me).
              </p>
              <p>
                I was super glad to learn though that they wished to reinstate my
                design on Wordpress platform again on their server in recent past
                and that might be a possibility when they get the time and
                opportunity to rebuild their web presence.
              </p>
            </div>
            <div style="width:80%;margin-left:auto;margin-right:auto;">
              <h3>3db Technologies</h3>
            </div>
            <div>
              <img src="https://morjal.com/kamal/work/portfolio/images/fulls/13.png"
                alt="3db Access, a Switzerland based electronics hardware company"
                style="text-align:center;margin-left:-20%;width:140%;border:8px solid #ccc;">
            </div>
            <div style="width:80%;margin-left:auto;margin-right:auto;">
              <p>
                I was responsible for the design and implementation of a static
                form of the website for
                <a href="https://www.3db-access.com">3db Technologies</a>, an
                electronics hardware chip company based in Switzerland doing
                ground-breaking work in vehicle security systems. The deliverables
                were handed off to the back-end development team to integrate into
                their CMS.
              </p>
              <h3>Do you like what you have seen so far?</h3>
              <p>
                I have picked out the best pieces from my portfolio that best fit
                the project brief you have given me. If you like what you have
                seen so far, please read on for cost quotations.
              </p>
            </div>
            <div style="width:80%;margin-left:auto;margin-right:auto;">
              <h3>How much does it cost?</h3>
              <p>
                A web project can be, and in most cases is, a moving target.
                Cost of imlpementation depends on the complexity of the project,
                however we define neat starting points below from which you can
                add features which will accordingly change the prices mentioned.
              </p>
              <div>
                <style>
                  table.pricing td {
                    border: 1px solid #ccc;
                  }
                  .price {
                    color: #222;
                  }
                  .price span {
                    display: block;
                    font-size: smaller;
                  }
                </style>
                <table class="pricing" cellpadding=0 cellspacing=0 width="100%">
                  <tbody style="text-align:center">
                    <tr>
                      <td width="33%">Starter</td>
                      <td width="33%">Pro</td>
                      <td width="33%">Enterprise</td>
                    </tr>
                    <tr>
                      <td class="price"><span>Starts at</span> ₹20'000</td>
                      <td class="price"><span>Starts at</span> ₹60'000</td>
                      <td class="price"><span>Starts at</span> ₹125'000</td>
                    </tr>
                    <tr>
                      <td colspan='3'>What do you get?</td>
                    </tr>
                    <tr>
                      <td style="padding:10px;font-size:smaller;">
                      Basic design + implementation to static html pages</td>
                      <td style="padding:10px;font-size:smaller;">
                      Exclusive Design + implementation to static html as well as template system to a framework of your choice. In most cases, WordPress is the framework of choice when freedom for self-updates is desired</td>
                      <td style="padding:10px;font-size:smaller;">
                      Exclusive Design + implementation as in Pro; includes hosting,
                      domain registration (restricted to available domains),
                      maintenance and updates for a year from the date of deployment
                      of the site. Basically, you tell us an issue and we come up
                      with a design+software solution to alleviate it to maximum
                      extent possible.</td>
                    </tr>
                  </tbody>
                </table>
                <p><strong>Do I have some flexibility?</strong></p>
                <p>Yes, you do. You can begin with Starter and move on to add
                features that you need, as and when needed, and be charged on a
                per-feature basis.</p>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
